
<div class = "container">
<div class="row">
<div class="col-10">
<h1> TINY URL's FOR ALL </h1>
</div>
<div class="col-2">
  <% if (username) { %>
     Hello there <%= username %> !
     <a href="/logout" > Logout </a>
  <% } else { %>  
    <a href="/login" >Login please</a>
  <%}%>    
</div>
</div>