<html>

<head>

</head>

<body>
    <%- include('./partials/_headers') %>
        <h1>Welcome!</h1>

        <h2><%= username %></h2>
        <% if (username) {%>
          <a href="/urls">Check out your urls! </a>
          <%}%>
</html>